    .blue-button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        /* background-color: blue; */
    }

    .orange-button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        /* background-color: orange; */
    }



    /* .main-container{
        background-color: red;
    } */
